:root {
  --h2-color: #2e2f42;
  --ırıs-color: #4d5ae5;
  --p-color: #434455;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: var(--p-color);
  background-color: #fff;
  font-weight: 400;
}
/* Header */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
.header {
  background-color: #ffffff;
  /* Arka plan beyaz */
  color: #434455;
  border-bottom: 1px solid #e7e9fc;
  /* İnce bir alt çizgi */
  width: 1440px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  /* İçerik genişliği */
  margin: 0 auto;
  /* Ortalamak için */
  padding: 0 20px;
  /* Yanlardan boşluk */
}

.nav-list {
  display: flex;
  gap: 30px;
  font-weight: 600;
  margin-right: 50px;
  /* Sağdaki boşluğu kaldırdık */
}

.nav-list .nav-item a {
  font-size: 16px;
  font-weight: 600;
  /* Menü yazılarını daha belirgin hale getirdim */
}

.nav-list .nav-item a:hover {
  color: #3c49c0;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #4d5ae5;
  /* "WEB" kısmının rengi */
}

.header-logo span {
  color: #2e2f42;
  /* "STUDIO" kısmının rengi */
}

.contact-info {
  font-size: 14px;
  color: #434455;
  margin: auto 0;
}

.contact-info a:hover {
  color: #3c49c0;
}

.header .container .contact-info .contact_ul {
  display: flex;
  gap: 40px;
}

.header .container {
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container .main-nav .header-logo {
  margin-right: 76px;
}

.header .container .main-nav .nav-list {
  gap: 40px;
}

.header .container .main-nav .nav-list .nav-item{
  padding: 24px 0;
}

.header .container .contact-info .contact_ul .contact-item {
  padding: 24px 0;
}




/* HEADER BİTİŞ*/

/* BÜYÜK MAVİ ALAN*/

.blue-section{
  padding: 188px 0;
  width: 1158px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #2e2f42;
    align-items: center;
    gap: 48px;
}

.blue-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  position: relative;
  max-width: 496px;
}

.blue-section .container button {
  background-color: #4d5ae5;
    display: block;
    margin: 0 auto;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
}

/* BEYAZ YAZILI ALAN */
.white-sec{
  padding: 120px 0;
  width: 1158px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.white-sec .container .visually-hidden{
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.white-sec .container .emc-list {
  display: flex;
  padding: 0 156px;
  margin-left: 20px;
  gap: 24px;
  list-style-type: none;
}

.white-sec .container .emc-item{
 width: calc((100% - 72px) / 4); 
}

.white-sec .container .emc-item .white-one{
  margin-bottom: 8px;
}
/* OUR TEAM */
.card-sec .container {
  width: 1440px;
  background: #f4f4fd;
  display: flex;
  flex-direction: column;
  padding-bottom: 240px;
}

.card-sec .container .ourteam {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 120px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--h2-color);
}
.card-sec .container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
  list-style-type: none;
  padding: 72px 156px 120px 156px;
}

.card-sec .container li {
  display: inline-block;
  width: 264px;
  height: 104px;
  vertical-align: center;
}
.card-sec .container .camila,
.card-sec .container .mark,
.card-sec .container .tom,
.card-sec .container .daniel {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.card-sec .container .mark-text,
.card-sec .container .tom-text,
.card-sec .container .camila-text,
.card-sec .container .daniel-text {
  width: 264px;
  height: 120px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px 16px;
  gap: 8px;
}

.card-sec .container .mark-text h3,
.card-sec .container .tom-text h3,
.card-sec .container .camila-text h3,
.card-sec .container .daniel-text h3 {
  font-size: 18px;
}

.card-sec .container .mark-text p,
.card-sec .container .tom-text p,
.card-sec .container .camila-text p,
.card-sec .container .daniel-text p {
  font-size: 14px;
}

/* OUR PORTFOLIO*/
.portfolio-sec .container {
  width: 1128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  position: relative;
  margin: 120px 156px;
  gap: 72px;
}
.portfolio-sec .container .ourportfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 218px;
  white-space: nowrap;
  align-items: center;
}

.portfolio-sec .container .portfolio-one ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style-type: none;
  gap: 24px;
}

.portfolio-sec .container .portfolio-two ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style-type: none;
  gap: 24px;
}

.portfolio-sec .container .portfolio-one li {
  display: inline-block;
  width: 360px;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.portfolio-sec .container li {
  display: inline-block;
  width: 360px;
  vertical-align: center;
}
.portfolio1,
.portfolio2,
.portfolio3,
.portfolio4,
.portfolio5,
.portfolio6 {
  width: 360px;
  background: #fff;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.portfolio1 .portfolio-text1,
.portfolio2 .portfolio-text2,
.portfolio3 .portfolio-text3 {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 0px 32px 16px;
  width: 360px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
}

.portfolio4 .portfolio-text4,
.portfolio5 .portfolio-text5,
.portfolio6 .portfolio-text6 {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 0px 32px 16px;
  width: 360px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
}

/* MAİN BİTİŞ*/
/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  width: 100%;
  margin-top: 100px;
}

.footer .container {
  max-width: 1158px;
  /* İçerik genişliği */
  margin: 0 auto;
  /* Sayfa ortalaması */
}

.footer-logo {
  font-family: Raleway, sans-serif;
  /* Yazı tipi */
  font-size: 18px;
  /* Yazı boyutu */
  font-weight: 700;
  /* Kalın yazı */
  line-height: 1.5;
  /* Satır yüksekliği */
  color: #4d5ae5;
  /* Logo rengi */
  text-decoration: none;
  /* Alt çizgiyi kaldır */
  display: inline-block;
  margin-bottom: 16px;
  /* Alt boşluk */
}

.footer-logo span {
  color: #f4f4fd;
  /* "STUDIO" kısmının rengi */
}

.footer-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  /* Yazı boyutu */
  line-height: 1.5;
  /* Satır yüksekliği */
  color: #e7e9fc;
  /* Metin rengi */
  max-width: 264px;
  /* Metnin genişliği */
  margin: 0;
  /* Varsayılan boşluğu kaldır */
}